---
import Heading from "../heading/Heading.astro";
import Text from "../text/Text.astro";
import PostContent from "./post-content/PostContent.astro";
import { PostLikes } from "./post-likes/PostLikes";
import Breadcrumb from "@components/breadcrumb/Breadcrumb.astro";

import Calendar from "@icons/calendar.svg";
import User from "@icons/user.svg";
import Folder from "@icons/folder.svg";

import { type Post } from "@interfaces";
import CommentsView from "@components/comments/CommentsView.astro";
import { Image } from "astro:assets";

import { dateFormat } from "@utils/date-format";
import PostRecomended from "./post-recomended/PostRecomended.astro";

interface Props {
  post: Post;
}

const { post } = Astro.props;
const { user } = Astro.locals;
---

<div class="flex flex-col items-center justify-center md:p-10">
  <section class="p-5 md:w-4xl">
    <Breadcrumb />
    <Heading component="h1" fontSize="large">
      {post.title}
    </Heading>

    <article class="mt-10 flex flex-wrap gap-5">
      <div class="flex items-center gap-2 text-sm">
        <Calendar class="h-4 w-4 text-white" />
        <Text component="span">
          {dateFormat(post.createdAt)}
        </Text>
      </div>

      <div class="flex items-center gap-2 text-sm">
        <User class="h-4 w-4 text-white" />
        <Text component="span">{post.author.name}</Text>
      </div>

      <div class="flex items-center gap-2 text-sm">
        <Folder class="h-4 w-4 text-white" />
        {post.categories.map((category) => <Text>{category.name} -</Text>)}
      </div>
    </article>

    <Image
      width={200}
      height={400}
      class="mt-10 h-40 w-full rounded-xl object-cover md:h-96"
      src={post.image}
      alt={post.description}
    />

    <PostContent content={post.content} />
    <PostLikes postId={post.id ?? ""} user={user} client:load />

    <CommentsView postId={post.id ?? ""} />
  </section>

  <PostRecomended postId={post.id ?? ""} />
</div>
